<h1>Editing Post</h1>

<%= form_for :post, url: post_path(@post), method: :put do |f| %>

  <p>
      <%= f.label :content %><br />
      <%= f.text_area :content %>
  </p>
  <p>
      <%= f.submit t('posts.save_changes') %>
  </p>
<% end %>
